<% film = @screening.film -%>
<div class="details">
  <span class="origin">
    <%= film.country_names %><%= ", " unless film.country_names.blank? %>
    <%= film.minutes %> minutes
  </span>
  <h3 class="name"><%= film.name %></h3>

  <ul class="showtimes">
    <li>
      <%= @screening.times %>, <%= @screening.venue.name %>
      <% if logged_in? -%>
        <% picked = @pick && @pick.screening_id == @screening.id %>
        <button id="schedule-<%= @screening.id %>-<%= picked ? "off" : "on" %>" class="button scheduler">
          <%= picked ? "Don't see this screening" : "See this screening" %>
        </button>
      <% end -%>
    </li>
  </ul>

  <% if Festival.show_buzz %>
    <% buzz = [] #film.buzz -%>
    <% if buzz.empty? %>
      <h4>
        No buzz about this film yet...
        <%= button_to("Add Buzz", home_path, :class => "button") if logged_in? %>
      </h4>
    <% else -%>
      <h4>
        Buzz!
      </h4>
      <%= render :partial => "buzz", :collection => buzz %>
      <%= button_to("Add Buzz", home_path, :class => "button") if logged_in? %>
  <% end -%>
<% end -%>

  <% unless @other_screenings.empty? %>
  <h4>
    <% if @later_screenings.present? %>
      <% if @earlier_screenings.present? %>
        <%= @earlier_screenings.count.in_words.capitalize %> earlier and
        <%= @later_screenings.count.counted("later screening") %>:
      <% else %>
        <%= @later_screenings.count.counted("later screening").capitalize %>:
      <% end %>
    <% else %>
      <%= @earlier_screenings.count.counted("earlier screening").capitalize %>:
    <% end %>
  </h4>
  <ul class="showtimes">
    <% @other_screenings.sort_by {|s| s.starts}.each do |s| -%>
      <li>
        <%= screening_label(s, @pick) %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <% if logged_in? %>
  <ul class="controls">
    <li>Your priority:
      <%= render :partial => "picks/pick_form_in_film_list",
                 :locals => { :film => @film, :pick => @pick } %>
    </li>
    <!-- TODO: <li>Rate: </li> -->
  </ul>
  <% end -%>
</div>
