<% content_for :title do %>Log in<% end %>

<h2>Welcome back</h2>
<ul style="margin: 0px; padding-bottom: 10px;">
  <li>New here? Use the 
      <%= link_to "Signup Page", signup_url %>
      to set up your username and password.</li>
  <li> Forgot your username or password?
      <%= link_to "Click here", forgot_password_path %>
      and we'll help you out.</li>
</ul>

<% form_tag session_path, :id => "login_form" do -%>

<p><label for="username">Username</label><br/>
<%= text_field_tag 'username' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
