<h1>Editing buzz</h1>

<% form_for(@buzz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :film_id %><br />
    <%= f.text_field :film_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :published_at %><br />
    <%= f.datetime_select :published_at %>
  </p>
  <p>
    <%= f.submit 'Update', :class => "button" %>
  </p>
<% end %>

<%= link_to 'Show', @buzz %> |
<%= link_to 'Back', film_buzz_index_path(@film) %>