<div class="summary">
  <h2>Get more out of your film festival experience!</h2>
  <p>See more of the movies you want to see... it's as easy as 1 - 2 - 3:</p>
  <ol id="steps">
    <li>
      Prioritize films
      <img src="images/prioritize.png" alt="prioritizing films" />
    </li>
    <li>
      Tell us when you're available, and we'll find screenings for you automatically
      <img src="images/availability.png" alt="setting availability" />
    </li>
    <li>
      Browse your schedule (soon: on your smartphone, too)
      <img src="images/schedule.png" alt="browsing schedule" />
    </li>
  </ol>

  <% get_started_content = capture do %>
    Get Started
  <% end %>
  <%= link_to get_started_content, signup_url %>
  <span>or <%= link_to "log in", login_url %> if you already have an account</span>
</div>

<% cache @festivals_cache_key do %>
<div class="festival_section">
  <% if @festivals.empty? %>
  <p>More festivals coming soon; if you're interested in one in particular, tell us about it on the feedback page.</p>
    <% if @have_old %>
    <p><%= link_to "Click here", festivals_url %> to see past festivals.</p>
    <% end %>
  <% else %>
  <h3>Click an upcoming festival:</h3>
  <ul id="upcomingfestivals">
  <%= render :partial => 'festivals/festival', :collection => @festivals.sort_by {|f| f.starts } %>
    <% if @have_old %>
  <li><%= link_to "Click here", festivals_url %> to see past festivals</li>
    <% end %>
  </ul>
  <% end %>
</div>      
<% end %>

<% cache @announcements_cache_key do %>
  <% unless @announcements.empty? %>
<div class="news_section">
  <h3>News <%= link_to icon_tag("feed", :style=>"border: none"), announcements_url(:format => :rss) %></h3>
  <ul class="announcements">
    <%= render :partial => 'announcements/announcement', :collection => @announcements,
               :locals => { :announcement_limit => @announcement_limit } %>
  </ul>
</div>
  <% end %>
<% end %>

<div id="copyright">
  Copyright &copy; 2007-2010 Bryan Stearns; all rights reserved.
</div>
