<% cache @festivals_cache_key do %>
<div id="summary">
  <h2><strong>Get more</strong> from your film festival experience!</h2>
  <p>
    Festival Fanatic can help you see more of the movies you want to see...
    it's as easy as 1 - 2 - 3:
  </p>
  <ol>
    <li>
      Prioritize films<br/>
    </li>
    <li>
      Tell us when you're available, and we'll find screenings for you automatically<br/>
    </li>
    <li>
      Browse your schedule (soon: on your smartphone, too)
    </li>
  </ol>
  
  <% unless @current_festivals.empty? %>
    <div id="current">
      Now scheduling these festivals:
      <ul>
        <%= render :partial => 'festivals/festival', :collection => @current_festivals.sort_by {|f| f.starts } %>
      </ul>
    </div>
  <% end -%>

  <% unless @upcoming_festivals.empty? %>
    <div id="upcoming">
      You'll soon be able to schedule <%= this_these(@upcoming_festivals, "festival") %>:
      <ul>
        <%= render :partial => 'festivals/festival', :collection => @upcoming_festivals.sort_by {|f| f.starts },
                   :locals => { :with_links => false } %>
      </ul>
    </div>
  <% end -%>

  <div id="action">
    <%= link_to "<strong>Sign Up</strong> (it's free!)", signup_url, :class => 'button' %>
    or <%= link_to "log in", login_url %> if you already have an account
  </div>

  <% if @announcements.any? %>
  <div id="announcements">
    <hr/>
    <%= render :partial => "announcements/announcement", :collection => @announcements %>
    <%= link_to "More news...", announcements_path %>
  </div>
  <% end %>
</div>
<% end %><%# cache by festivals %>
