<div id="summary">
  <h2><strong>Get more</strong> from your film festival experience!</h2>
  <p>
    Festival Fanatic can help you see more of the movies you want to see...
    it's as easy as 1 - 2 - 3:
  </p>
  <ol>
    <li>
      Prioritize films<br/>
    </li>
    <li>
      Tell us when you're available, and we'll find screenings for you automatically<br/>
    </li>
    <li>
      Browse your schedule (soon: on your smartphone, too)
    </li>
  </ol>

  <span id="action">
    <%= link_to "<strong>Sign Up</strong> (it's free!)", signup_url, :class => 'button' %>
    or <%= link_to "log in", login_url %> if you already have an account
  </span>
</div>

<% if false %>

<% cache @festivals_cache_key do %>
<div class="festival_section">
  <% if @festivals.empty? %>
  <p>More festivals coming soon; if you're interested in one in particular, tell us about it on the feedback page.</p>
    <% if @have_old %>
    <p><%= link_to "Click here", festivals_url %> to see past festivals.</p>
    <% end %>
  <% else %>
  <h3>Click an upcoming festival:</h3>
  <ul id="upcomingfestivals">
  <%= render :partial => 'festivals/festival', :collection => @festivals.sort_by {|f| f.starts } %>
    <% if @have_old %>
  <li><%= link_to "Click here", festivals_url %> to see past festivals</li>
    <% end %>
  </ul>
  <% end %>
</div>      
<% end %>

<% cache @announcements_cache_key do %>
  <% unless @announcements.empty? %>
<div class="news_section">
  <h3>News <%= link_to icon_tag("feed", :style=>"border: none"), announcements_url(:format => :rss) %></h3>
  <ul class="announcements">
    <%= render :partial => 'announcements/announcement', :collection => @announcements,
               :locals => { :announcement_limit => @announcement_limit } %>
  </ul>
</div>
  <% end %>
<% end %>

<% end  %>
