<%# The film-editing form in /festivals/edit.html.erb -%>
<% film ||= film_form_in_festival -%>
<div id="film_form" class="form">  
<%= error_messages_for :film %>
<% form_for [festival, film] do |f| %>
  <table>
  	<tr>
  	  <th rowspan="2"><%= film.new_record? ? "New" : "Edit" %> Film:</th>
  		<th>Film</th>
  		<th>Minutes</th>
  		<th>Link</th>
  		<th>Countries</th>
  	</tr>
		<tr>
		  <td><%= f.text_field :name, :size => 45 %></td>
		  <td><%= f.text_field :minutes, :size => 8 %></td>
      <td><%= f.text_field :url_fragment, :size => 12 %></td>
		  <td>
		    <%= f.text_field :country_names, :size => 8, :autocomplete => "off" %>
        <div class="film_country_names_auto_complete" id="country_list" style="display:none"></div>
      </td>
			<td>
				<%= submit_to_remote "save", "Save",
              :url => film.new_record? ? festival_films_url(festival) \
                                       : festival_film_url(festival, film),
              :html => { :accesskey => "s" } %>
				<%= link_to_function "Cancel" do |page| 
              page['new_festival_film'].show
              page['festival_film_form'].replace_html ''
            end %>
        <%= link_to_remote "New Film",
							              :url => new_festival_film_url(festival), 
                            :method => "get" unless film.new_record? %>
      </td>
		</tr>
  </table>
<% end %>
<%= javascript_tag %Q{autocomplete_country_for("film_country_names", "country_list");} %>

<% unless film.new_record? %>
<%= link_to_remote "New Screening",
    { :url => new_film_screening_url(@film),
      :method => "get" },
    { :id => "new_festival_screening" } %>

<div id="festival_screening_form"></div>

<%= render :partial => "screenings/screenings_in_festival",
           :locals => { :festival => festival, :film => film, 
                        :screenings => film.screenings } %>
<% end %>
</div>
