<%# A film in the public festival list %>
	<% content_tag_for :tr, film do %>
    <td>
    <%= render :partial => "picks/pick_form_in_film_list", 
               :locals => { :film => film, :picks => picks } %>
    </td>
    <td>
  	  <%= link_to_film film, :target => "_blank", :class => "name" %>
  	  <span class="duration">(<%= film.minutes %> minutes<%= ", #{film.country_names('/')}" unless film.countries.blank? %>)</span>
  	  <%= content_tag(:div, h(film.description), :class => "description") if film.description -%>
  	  <% 
        screenings = show_press ? film.screenings : film.public_screenings
  	    unless screenings.empty?
          screenings = screenings.sort_by(&:starts)
  	  -%>
    	  <div class="screenings">
    	    <label><%= pluralize(screenings.size, "screening") %>:</label>
          <ul>
              <%= render :partial => "screenings/screening", :collection => screenings,
                         :locals => { :pick => (logged_in? ? picks[film.id] : nil) } %>
    	    </ul>
    	  </div>
      <% end -%>
    </td>
	<% end %>
