<%# The public list of all films in a festival -%>
<% content_for :title do %>Films at <%= @festival.name %><% end -%>

<% content_for :page_scripts do %>
jQuery(function() {
  <%# Autosubmit the sort form %>
  jQuery("#order").change(function(e) { jQuery("#sortform").submit(); });

  <%# Register for clicks on the film choices %>
  jQuery("form.priority input").change(function(e) {
    <% if logged_in? -%>
    jQuery(this.form).ajaxSubmit({dataType: 'script'});
    <% else -%>
    alert("Log in to prioritize your films, or click the Sign Up link in the upper right corner to get started.");
    <% end -%>
    return false;
  });
});
<% end -%>

<%= render :partial => "festivals/header", :locals => { :festival => @festival, :hide_tabs => false } %>

<h3>The first step: setting your film priorities</h3>

<p>
  Before we can build a schedule just for you, you'll need to prioritize the
  festival's films: indicate your preference for seeing each film by clicking
  one of the little circles next to each film &mdash; the scheduling assistant
  will use these priorities to build a custom schedule for you.
</p>

<p>
  The rightmost choice means "<%= ranking_hints[4] %>," and the leftmost means
  "<%= ranking_hints[0] %>." Each choice is saved as soon as you click, and
  you can come back later if you don't finish now, or if you want to change a
  choice.
<% if logged_in? %>
When you're done, click the "I'm done" button at the bottom.
You can reset all your priorities and start over
by clicking this button: <%= link_to "Start Over",
                      reset_rankings_festival_url(@festival),
                      :method => :post,
                      :confirm => "Are you sure you want to throw away all your priority settings?",
                      :class => "button" %>
<% end %>
</p>
<% 
sort_order = params[:order]
sorted_films = case sort_order
when "Country"
  @films.sort_by {|f| [f.country_names || '', f.sort_name] }
when "Priority"
  @films.sort_by {|f| [@picks[f.id].priority || -1, f.sort_name] }
else
  sort_order = "Name"
  @films.sort_by {|f| f.sort_name }
end
sort_options = %w[Name Country Priority].map do |p| 
  selected = " selected='selected'" if p == sort_order
  "<option#{selected}>#{p}</option>"
end.join("")
if sorted_films.empty? -%>
<div>(Oops! This festival has no films yet.)</div>
<% else -%>
<table class="filmlist">
  <tr>
    <th class="priorityguide">Choose priority:<br/>(lower ... higher)</th>
    <th class="sortguide">
      Sort by: <% form_tag festival_films_path(@festival), :method => :get, :id => "sortform" do %>
        <%= select_tag "order", sort_options %>
      <% end %>
    </th>
  </tr>
<%= render :partial => "film", :collection => sorted_films, 
           :locals => { :picks => @picks, :show_press => @show_press } %>
</table>

<%= link_to "I'm done!", festival_assistant_path(@festival), :class => "button" %>

<% end %>