<%# User settings for a festival -%>
<% content_for :title do %>Settings for <%= @festival.name %><% end %>
<% content_for :header do %>
  <%= render :partial => "festivals/header", :locals => { :festival => @festival, :hide_tabs => conference_mode } %>
<% end %>

<% form_for @subscription, :url => poly_festival_assistant_path(@festival) do |f| %>
  <p>This is the good part: we'll try to build you a schedule that includes as many of your higher-priority films as possible; click the "Schedule Films!" button below to make this happen.</p>
  
  <%= f.error_messages :header_message => "Oops, something went wrong..." %>

  <fieldset id="customizations">
    <legend>Settings to guide the scheduling assistant</legend>
    <ul>
    <li>Are there are times you can't attend this festival? Enter them here
    and we won't schedule any screenings for these times (though we'll still
    show them on the schedule, and you can still pick them manually).
    <p>This feature is brand new and kind of finicky: you should enter things 
    like <i>2/5, 2/6 -10am, 2/8 11:30am-2pm & 8pm-10pm</i></p>
    <p><%= f.text_field :restriction_text, :size => 80 %></p></li>

    <% if @festival.has_press_screenings? %>
    <li><p><%= f.check_box :show_press %>Include the press screenings? (If this box isn't checked, we won't show them on your schedule.)</p></li>
    <% end %>

    <% if @ask_about_unselection %>
    <li>You've got some screenings selected already; what should we do with them?
    <%= select("subscription", "unselect", [
      ["Unselect just the future screenings", "future"], 
      ["Unselect all of them", "all"],
      ["Leave them selected; just fill in around them", "none"]]) %></li>
    <% end %>
    </ul>
  </fieldset>

  <button id="schedule_button" type="button">Schedule Films!</button>
<% end %>

<%# We hide the form and show this on submit %>
<div id="progress" style="display: none">
  <h3><%= image_tag "busy.gif" %> The Schedule Assistant is working on your schedule; please hang on for a moment.</h3>
  <p>This can take a few seconds... we'll switch you back to the festival schedule when the scheduling process finishes.</p>
  <p>Don't forget: you can always change your priorities later; the Schedule Assistant will be happy to rebuild the remainder of your schedule for you!</p>
</div>
<% content_for("page_scripts") do %>
jQuery(function() {
  jQuery("#subscription_restriction_text").keypress(function(e) {
    return (e.which != 13); // prevent enter from submitting
  });
  jQuery("#schedule_button").click(function() { 
    <% if logged_in? %>
    jQuery("a").click(function() { return false; });
    jQuery("#progress").show();
    jQuery(".edit_subscription").hide().submit();
    <% else %>
    alert("You'll need to log in to try this out (or get started with the \"Sign up\" link in top right corner)");
    <% end %>
  });
});
<% end -%>
