<%# User settings for a festival -%>
<% content_for :title do %>Settings for <%= @festival.name %><% end %>
<% content_for :header do %>
  <%= render :partial => "festivals/header", :locals => { :festival => @festival, :hide_tabs => conference_mode } %>
<% end %>

<h3>Your settings for <%= h(@festival.name) %></h3>
<p>These settings affect which screenings you see, and which ones 
"Schedule Automatically" will pick for you. Be sure to click "Update"
when you're done.</p>

<%= error_messages_for :subscription %>
<% form_for @subscription, :url => poly_festival_settings_path(@festival) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.check_box :show_press %> Include press screenings.
    <% unless @festival.has_press_screenings? %>
      (So far, this festival has no press screenings on our schedule.)
    <% end %>
  </p>

  <p>
  If there are times you can't attend this festival, enter them here
  and Automatic Scheduling won't include them (you'll still see them
  on your schedule, and can pick them manually). Your setting should
  look something like <i>2/5, 2/6 -10am, 2/8 11:30am-2pm & 8-10pm</i></p>
  <p>
    <%= f.text_field :restriction_text, :size => 80 %>
  </p>

  <p>
    <%= f.submit "Update" %> | <%= link_to "Cancel", poly_festival_path(@festival) %>
  </p>
<% end %>
