<%# Festival editing form, shared between /festivals/new and /festivals/x/edit -%>
  <table>
  	<tr>
  		<td><b>Name</b></td>
		  <td><%= f.text_field :name, :size => 80 %></td>
  	</tr>
  	<tr>
  		<td><b>Slug</b></td>
		  <td><%= f.text_field :slug, :size => 80 %></td>
  	</tr>
  	<tr>
  		<td><b>Location</b></td>
		  <td><%= f.text_field :location, :size => 80 %></td>
  	</tr>
  	<tr>
  		<td><b>URL</b></td>
		  <td><%= f.text_field :url, :size => 80 %></td>
  	</tr>
  	<tr>
  		<td><b>Film URL</b></td>
		  <td><%= f.text_field :film_url_format, :size => 80 %> <b>(w/*)</b></td>
  	</tr>
  	<tr>
  		<td><b>Dates</b></td>
		  <td>
			  <%= f.date_select :starts %> 
			  through 
			  <%= f.date_select :ends %> 
		  </td>
  	</tr>
  	<tr>
  		<td><b>Revised</b></td>
		  <td>
		    <%= f.datetime_select :revised_at %>
		  </td>
  	</tr>
  	<% unless @festival.new_record? -%>
    <tr>
  		<td><b>Public</b></td>
  		<td>
  			<%= f.check_box :public %>
        <span>(Check to make this festival appear on the front page)</span>
  		</td>
  	</tr>
  	<tr>
  		<td><b>Scheduled</b></td>
  		<td>
  			<%= f.check_box :scheduled %>
        <span>(Check when users can view the complete schedule for this festival)</span>
  		</td>
  	</tr>
  	<% end -%>
  </table>
