<%# The header for publicly-visible Festival pages: 
    /festivals/x, /festivals/x/films/, etc. -%>
<% content_for :tabs do %>
  <ul class="navlinks">
    <li><%= link_to_unless_current "Your Film Priorities",
                    festival_films_path(@festival) %></li>
    <li><%= link_to_unless_current "Scheduling Assistant",
                    festival_assistant_path(@festival) %></li>
    <li><%= link_to_unless_current "Your Festival Schedule",
                    festival_path(@festival) %></li>
  </ul>
<% end unless hide_tabs -%>

<h2>
  <%= @festival.name %>
  <span><%= @festival.dates %></span>
</h2>

