<%# One viewing on the schedule grid, from /festivals/_day -%>
<div id="screening-<%= viewing_info.screening.id %>"
     class="screening unranked"
     style="height: <%= viewing_info.height %>px; margin-top: <%= viewing_info.space_before %>px">
  <% unless conference_mode %>
    <%= content_tag(:a, image_tag("fam3silk/dvd.png", :class => "flag dvd", :alt => "DVD", 
                                  :title => "Available on DVD; click for its Amazon.com page"), 
                      :href => dvd_film_url(viewing_info.film), :target => "_blank") if viewing_info.film.amazon_url -%>
    <%= flag_icon_tag viewing_info.film.countries, :class => "flag" %>
  <% end %>
  <span class="name"><%= viewing_info.film.name %></span>
  
  <div class="screeningtime"><span><%= "press: " if viewing_info.screening.vip %><%= viewing_info.screening.times %><% unless conference_mode %>,</span> <span><%= viewing_info.ordinalize %><% end %><span class="priority"></span></span></div>
</div>
