<%# One viewing on the schedule grid, from /festivals/_day -%>
<div id="screening-<%= viewing_info.screening.id %>"
     class="screening unranked"
     style="height: <%= viewing_info.height %>px; margin-top: <%= viewing_info.space_before %>px">
  <div class="priority"></div>
  <%# flag_icon_tag viewing_info.film.countries, :class => "flag" %>
  <span class="name"><%= viewing_info.film_name %></span>
  
  <div class="screeningtime">
    <span><%= viewing_info.screening_times %>,</span>
    <span>
      <%= viewing_info.ordinalize %>
      <%= " (press)" if viewing_info.screening.press %>
    </span>
  </div>

</div>
