<%# The festival list -%>
<% content_for :title do %>Festivals<% end %>

<h2>All Festivals</h2>

<p>Click a festival date to view that festival.</p>

<div class="festival_section">
<ul>
<% festivals_grouped(@festivals).each do |festival_group| %>
  <% latest_festival = festival_group.first %>
  <li>
    <span class="name"><%= latest_festival.name %></span>
    <span class="location"><%= latest_festival.location %></span></br>
    <ul>
      <% festival_group.each do |festival| %>
        <li>
          <%= link_to festival.dates, best_user_path_for(festival, current_user) %>
          <%= link_to "(edit)", edit_festival_path(festival) if current_user_is_admin? %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
</div>

<% if logged_in? and current_user_is_admin? %>
  <%= link_to("New festival", new_festival_path) %>
<% end %>
