<%# Display one user's festival ratings: /festivals/1/username -%>
<% content_for :title do %><%= h @displaying_user.username %>'s Favorite
                           <%= @festival.name %> Films<% end %>

<%= render :partial => "festivals/header",
           :locals => { :festival => @festival, :hide_tabs => true } %>

<% rating_groups = @rated_picks.group_by {|p| p.rating } %>

<h3>
  <%= @displaying_user.username %>
  <% if rating_groups.count == 0 -%>
    hasn't rated any films yet; come back soon!
  <% else %>
    has rated <%= pluralize(@rated_picks.count, "film") %> so far:
  <% end %>
</h3>

<% [5,4,3,2,1].each do |rating| %>
  <% if rating_groups[rating].present? %>
    <div class="rating">
      <h4>
        <%= image_tag("raty/star-on.png", 
                      :height => 16, :width => 16) * rating %>
        "<%= Pick::RATING_HINTS[rating] %>"
      </h4>
      <ul>
        <% rating_groups[rating].map {|p| p.film}\
                                .sort_by {|f| f.sort_name }\
                                .each do |film| %>
          <li><span class="film"><%= film.name %></span><%= ", #{film.country_names('/')}" unless film.countries.blank? %></li> 
        <% end %>
      </ul>
    </div>
  <% end -%>
<% end -%>

<div>
(What is this site? Festival Fanatic helps plan your film festival
attendance. You can be a festival fanatic too - <%= link_to "click here",
home_path %> to get started!)
</div>
</div>

