<%# Display one festival schedule: /festivals/1 -%>
<% content_for :title do %>Schedule for <%= @festival.name %><% end %>

<%= render :partial => "festivals/header",
           :locals => { :festival => @festival, :hide_tabs => @read_only } %>

<div id="instructions">
  <% if !logged_in? %>
    <p>
      Here's the festival schedule; if you log in, you'll be able to click on
      the grid to schedule screenings.
    </p>
  <% elsif params[:debug] %>
    <%= render :partial => "debug_panel" %>
  <% else %>
    <%= render :partial => "instructions" %>
  <% end %>
</div>

<% if logged_in? and !params[:debug] %>
<div id="showhide">
  <a href="javascript:void();">Click here to <span>hide</span> the instructions</a>
  <%= icon_tag :information, :alt => false, :title => false %>
</div>
<% end -%>

<% if params[:debug] %>
  <%= render :partial => "days" %>
<% else %>
  <% cache @cache_key do %>
    <%= render :partial => "days" %>
  <% end -%>
<% end -%>

<% content_for :page_scripts do %>
jQuery(function() {
  <%# Apply picks for this user -%>
  <%= @screening_javascript %>

  <%# Register for clicks on all our screenings -%>
  jQuery(".screening").click(function(e) {
    <%# Hide any other open details %>
    jQuery(".details").remove();

    <%# Grab more content? %>
    var screening = jQuery(this);
    var content = jQuery(".content");
    var min_width = 400;
    var max_height = 250;
    jQuery.ajax({
      url: '/films/' + screening.attr('data-film_id')
            + '/screenings/' + screening.attr('id').split('-')[1] + '.js',
      error: function(xhr, status) {
        alert("A problem occurred trying to retrieve this screening's information. " +
              "We'll look into it; please try again later.");
      },
      success: function(raw_details) {
        var details = jQuery(raw_details);
        <%# Copy classes and other characteristics from the original %>
        jQuery.each(screening.attr('class').split(' '), function(i, name) {
          if (name != 'screening')
            details.addClass(name);
        });

        <%# Insert it in position, but transparent and at the target width %>
        var target_width = Math.max(screening.width(), min_width)
        details.css({
          left: screening.offset().left - (content.offset().left + 1),
          top: screening.offset().top - (content.offset().top + 1),
          opacity: "0%",
          width: target_width,
        });
        screening.before(details);
        //console.info("screening at (" + screening.offset().left + ", " + screening.offset().top +
        //             "), details at (" + details.offset().left + ", " + details.offset().top + ")");

        <%# Wire up its events %>
        details.find(".scheduler").click(function() {
          var parts = this.id.split('-');
          var screening_id = parts[1];
          var state = parts[2] == "on" ? "picked" : "unpicked"; 
          jQuery.ajax({
            url: '/festivals/' + jQuery("#days").attr("data-festival_slug")
                  + '/pick_screening',
            type: 'POST',
            data: {
              screening_id: screening_id,
              state: state,
            },
            dataType: 'script',
            error: function(xhr, status) {
              alert("A problem occurred trying to modify your schedule. " +
                    "We'll look into it; please try again later.");
            },
            success: function(js) {
              jQuery(".details").remove();
            }
          });
        });
        details.find("form.priority input").change(function(e) {
          <% if logged_in? -%>
          jQuery(this.form).ajaxSubmit({dataType: 'script'});
          <% else -%>
          alert("Log in to prioritize your films, or click the Sign Up link in the upper right corner to get started.");
          <% end -%>
          return false;
        });

        <%# Note its height at this width; this is how tall we'll make it %>
        var target_height = Math.min(details.height(), max_height)
        //console.info("target height: " + target_height);

        <%# Now shrink it to fit, hide its overflow, and make it opaque %>
        details.css({
          overflow: "hidden",
          opacity: "100%",
          width: screening.width(),
          height: screening.height(),
        });

        <%# Zoom it open %>
        var params = {
          height: target_height,
          width: target_width,
        }
        if (details.offset().left > (jQuery(document).width() / 2))
          params["left"] = "-=" + (target_width - screening.width());
        var details_bottom = content.offset().top + details.offset().top + target_height;
        if (details_bottom > jQuery(document).height() - 20)
          params["top"] = "-=" + (target_height - screening.height());
        details.animate(params, {
          duration: 'fast',
          complete: function() { details.css("overflow", "auto"); },
        });
      }
    });
  });
  jQuery(document).click(function(e) {
    <%# Hide any open details when anything else is *left*-clicked -%>
    if (e.which == 1) jQuery(".details").remove();
    return true;
  });
});
<% end -%>

