<%# Display one festival schedule: /festivals/1 -%>
<% content_for :title do %>Schedule for <%= @festival.name %><% end %>

<%= render :partial => "festivals/header",
           :locals => { :festival => @festival, :hide_tabs => @read_only } %>

<div id="instructions">
  <% if !logged_in? %>
    <p>
      Here's the festival schedule; if you log in, you'll be able to click on
      the grid to schedule screenings.
    </p>
  <% else %>
    <h3>Taa-daa: Your Festival Schedule</h3>
    <ul id="legend">
      <li class="scheduled">
        This is a screening you're attending.
      </li>
      <li class="otherscheduled">
        You're seeing a different screening of this film.
      </li>
      <li class="unscheduled">
        You wanted to see this film (by prioritizing it), but aren't scheduled
        to see it.
      </li>
      <li class="unranked">
        You're not planning on seeing this film.
      </li>
      <li>
        The priority you gave each film is shown
        with little circles:
        <%= image_tag "priority/p3.png", :height => 10, :width => 46 %>
      </li>
      <!--<li>
        The rating that you and the community gave this film is shown with stars:
        <%= image_tag "priority/p3.png", :height => 10, :width => 46 %>
      </li>-->
    </ul>
    <% if @read_only %>
      <p>
        Here is <b><%=h @displaying_user.username %></b>'s current festival
        schedule:
      </p>
    <% else %>
      <p>
        Your festival schedule is below;

        click a screening to see more information about the film,

        add the screening to your schedule (we'll automatically unselect
        conflicting screenings and other screenings of that film),

        see more information about the film and its other screenings,

        change your priority for this film or rate it once you've seen it,

        or read buzz about the film & add your own. Also:
      </p>
    <% end %>
    <ul>
      <% unless @read_only %>
        <li>
          You can always go back to the "Your Film Priorities" tab to adjust
          your priorities, then use the "Scheduling Assistant" to re-schedule
          the rest of the festival for you.
        </li>
        <li>
          You can click
          <%= link_to "here", reset_screenings_festival_url(@festival),
                :method => :post, :confirm =>
                "Are you sure you want to unschedule all your screenings?" %>
          to un-select all your selected screenings and start over.
        </li>
      <% end %>
      <% if logged_in? || @read_only %>
        <% pdf_url = @read_only \
             ? festival_user_url(:festival_id => @festival.to_param,
                                 :other_user_id => @displaying_user.to_param,
                                 :key => @displaying_user_subscription.key,
                                 :format => :pdf) \
             : festival_url(@festival, :format => :pdf) -%>
        <li>
          You can
          <%= link_to "download a printable PDF of this schedule",
                      pdf_url %>,
          which you can print with
          <a href="http://get.adobe.com/reader/" target="_blank">Adobe Reader</a>.
        </li>
      <% end %>
      <% if logged_in? && !@read_only %>
        <li>
          You can
          <%= link_to 'download this schedule in iCalendar format',
                      icalendar_festival_url %>,
          or add it to your
          <%= link_to 'Google calendar', google_festival_url,
                      :target => "_blank" %>
          or
          <%= link_to 'My Yahoo! calendar', yahoo_festival_url,
                      :target => "_blank" %>.
        </li>
        <li>
          You can share your schedule with your friends by giving them this link:
          <br/>
          <%= link_to h(readonly_festival_url), readonly_festival_url %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if logged_in? %>
<div id="showhide">
  <a href="javascript:void();">Click here to <span>hide</span> the instructions</a>
  <%= icon_tag :information, :alt => false, :title => false %>
</div>
<% end -%>

<% cache @cache_key do %>
<div id="days" class="days" data-festival_slug="<%= @festival.slug %>">
  <%= render :partial => "day", 
             :collection => days(@festival, @show_press) %>
</div>
<%= content_tag(:div,
                content_tag(:span,
                            "Revised at #{@festival.revised_at.strftime("%H:%M %a, %b %d")}"),
                :class => "revised") \
    if @festival.revised_at %>
<% end # caching -%>

<% content_for :page_scripts do %>
jQuery(function() {
  <%# Apply picks for this user -%>
  <%= @screening_javascript %>

  <%# Register for clicks on all our screenings -%>
  jQuery(".screening").click(function(e) {
    <%# Hide any other open details %>
    jQuery(".details").remove();

    <%# Grab more content? %>
    var screening = jQuery(this);
    var min_width = 400;
    var max_height = 250;
    jQuery.ajax({
      url: '/films/' + screening.attr('data-film_id')
            + '/screenings/' + screening.attr('id').split('-')[1] + '.js',
      error: function(xhr, status) {
        alert("A problem occurred trying to retrieve this screening's information. " +
              "We'll look into it; please try again later.");
      },
      success: function(raw_details) {
        var details = jQuery(raw_details);
        <%# Copy classes and other characteristics from the original %>
        jQuery.each(screening.attr('class').split(' '), function(i, name) {
          if (name != 'screening')
            details.addClass(name);
        });

        <%# Insert it in position, but transparent and at the target width %>
        var target_width = Math.max(screening.width(), min_width)
        details.css({
          left: screening.offset().left - 1,
          top: screening.offset().top - 1,
          opacity: "0%",
          width: target_width,
        });
        screening.before(details);
        console.info("screening at (" + screening.offset().left + ", " + screening.offset().top +
                     "), details at (" + details.offset().left + ", " + details.offset().top + ")");

        <%# Wire up its events %>
        details.find(".scheduler").click(function() {
          var parts = this.id.split('-');
          var screening_id = parts[1];
          var state = parts[2] == "on" ? "picked" : "unpicked"; 
          jQuery.ajax({
            url: '/festivals/' + jQuery("#days").attr("data-festival_slug")
                  + '/pick_screening',
            type: 'POST',
            data: {
              screening_id: screening_id,
              state: state,
            },
            dataType: 'script',
            error: function(xhr, status) {
              alert("A problem occurred trying to modify your schedule. " +
                    "We'll look into it; please try again later.");
            },
            success: function(js) {
              jQuery(".details").remove();
            }
          });
        });
        details.find("form.priority input").change(function(e) {
          <% if logged_in? -%>
          jQuery(this.form).ajaxSubmit({dataType: 'script'});
          <% else -%>
          alert("Log in to prioritize your films, or click the Sign Up link in the upper right corner to get started.");
          <% end -%>
          return false;
        });

        <%# Note its height at this width; this is how tall we'll make it %>
        var target_height = Math.min(details.height(), max_height)
        console.info("target height: " + target_height);

        <%# Now shrink it to fit, hide its overflow, and make it opaque %>
        details.css({
          overflow: "hidden",
          opacity: "100%",
          width: screening.width(),
          height: screening.height(),
        });

        <%# Zoom it open %>
        var params = {
          height: target_height,
          width: target_width,
        }
        if (details.offset().left > (jQuery(document).width() / 2))
          params["left"] = "-=" + (target_width - screening.width());
        var details_bottom = details.offset().top + target_height;
        if (jQuery(document).height() - details_bottom < 10)
          params["top"] = "-=" + (target_height - screening.height());
        details.animate(params, {
          duration: 'fast',
          complete: function() { details.css("overflow", "auto"); },
        });
      }
    });
  });
  <!--jQuery(document).click(function(e) {-->
    <!--<%# Hide any open details when anything else is *left*-clicked %>-->
    <!--if (e.which == 1) jQuery(".details").remove();-->
    <!--return true;-->
  <!--});-->

  <%# Toggle instructions based on cookie %>
  if (get_cookie("instructions") == "hide") {
    jQuery("#showhide span").html("show");
    jQuery("#instructions").hide();
  }
  jQuery("#showhide").click(function() {
    var instructions = jQuery("#instructions");
    var verb = instructions.css("display") != "none" ? "show" : "hide";
    jQuery("#showhide span").html(verb);
    set_cookie("instructions", verb == "show" ? "hide" : null, "never")
    instructions.toggle('fast');
  });

});
<% end -%>

