<%# The partial used to render one location (and its venues), as part of /festivals/1/locations %>
<% location ||= location_in_festival -%>
<% content_tag_for(:li, location) do %>
  <div>
    <span class="name"><%= location.name %></span>
    (<%= pluralize(location.venues.count, "venue") %>)
    <%= link_to "Edit", edit_festival_location_path(festival, location) %>
    <%= link_to "Delete", festival_location_path(festival, location),
                :method => :delete,
                :confirm => "Are you sure you want to destroy this location, its venues, films, screenings, etc.?" %>
    <%= link_to "Add Venue", new_location_venue_path(location) %>
  </div>
  <%= render :partial => "venues/venues_in_festival",
             :object => location.venues,
             :locals => {:location => location, :festival => festival } %>
<% end %>
