<%
  body_class ||= ''
  body_class << " #{controller_name} #{controller_name}_#{action_name} bp"

  jquery_version = "1.4.4"
  jquery_ui_version = "1.8.6"
-%>
<!DOCTYPE html>
<html lang="en"><!-- <%= SOURCE_REVISION_DETAILS %> -->
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <% title = yield :title -%>
  <title>
    <%= title %><%= ": " unless title.blank? %>
    Festival Fanatic<%= " (#{Rails.env})" unless Rails.env.production? %>
  </title>

  <link rel="alternate" type="application/rss+xml" 
        title="FestivalFanatic.com News" 
        href="<%= announcements_url(:format => :rss) %>" />

  <%# add or remove the leading ERB equals sign to enable/disable Firebug Lite %>
  <% '<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>' \
     if Rails.env.development? && client_is?(:tablet) %>

  <%= stylesheet_includes(jquery_ui_version) %>
  <%= javascript_includes(jquery_version, jquery_ui_version) %>
  <script type="text/javascript">
    jQuery.noConflict();
    var AUTH_TOKEN = <%= form_authenticity_token.inspect \
                         if protect_against_forgery? %>;
    <%= yield :page_scripts %>
  </script>
</head>
<body class="<%= body_class.strip %>">
  <div id="header">
    <div id="navigation">
      <%= navigation %>
    </div>
    <h1 id="site_name"><%= site_name %></h1>
  </div>

  <div class="badbrowser ie6" style="display:none">
    <b>Uh-oh: You're using an outdated browser!</b>
      Your browser is pretty old; this site will run better with newer
      browsers. We recommend Firefox 3.6, which you can download free from
      <a href="http://getfirefox.com">http://getfirefox.com</a>.
  </div>
  <noscript>
    <div class="badbrowser">
      <b>Uh-oh: Your browser doesn't like us!</b>
      Your browser doesn't support Javascript (or you've turned it off).
      Please turn it back on &mdash; most of this site won't work right
      without it!
    </div>
  </noscript>

  <% tab_prefix = yield :tab_prefix -%>
  <div class="content<%= ' hastabs' if tab_prefix.present? %>">
    <%= tab_prefix %>
    <%= yield :tab_suffix -%>

    <% for name in [:notice, :warning, :message ] -%>
      <% if flash[name] -%>
        <div id="<%=name %>" class="flash <%= name %>"><%= flash[name] %></div>
      <% end -%>
    <% end -%>

    <%= yield %>
  </div>

  <div id="footer">
    Copyright &copy; 2007-2011 Bryan Stearns; all rights reserved.
  </div>

  <% if Rails.env == 'production' %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-7187738-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <% end %>
</body>
</html>
